.container {
  
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  padding-bottom: 20px;


}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 15%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn{
  
  background-color: #4ECCA3;
  border: 0;
  padding: 20px;
  margin-top: 80px;
  font-size: x-large;
  color: #EEEEEE;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.btn-bt{
  display: flex;
  justify-content: center;
}
.btn:hover{
  background-color:#393E46 ;
  border: solid 5px #4ECCA3;
}
.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #EEEEEE;
  transform: translateY(4px);
}
